body {
  margin: 0;
  z-index: -1;
  overflow: hidden;
  background: #252627;
  color: #ccc;
  /* color: #d4d4d4; */
}

.c-good {
  color: #229952;
}

.c-bad {
  color: #b92c44;
}

.c-warn {
  color: #cebe35;
}

/* Input */

input {
  background: #333435;
  border: 1px solid #181819;
  border-radius: 4px;
  color: unset;
  padding: 4px 8px;
  font-weight: 600;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 1px solid;
}

/* Button */

button {
  display: inline-block;
  padding: 4px 20px;

  border-radius: 4px;

  color: unset;
  background: #333435;
  border: 1px solid #181819;
}

button:hover {
  background: #1f2021;
}

button:active {
  border: 1px solid #888888;
}

.test-class {
  flex-grow: 1;
  flex-direction: column;
  flex: 1 auto content;
}
